{% extends "patient/PatientNav.html" %}
{% block content %}
{% load static %}

<div class="container mt-5">

    <div class="row justify-content-center">

        <div class="col-md-8">
<br>
            <h1 class="body text-center mb-4">PROFILE</h1>

            <div class="table-responsive mb-4 rounded bg-white">

                <table class="table table-striped table-hover text-center">

                    <tr>
                        <td><img style="aspect-ratio: 1/1;" width="200px" src="{{ usr.image.url }}" alt="Profile Image"></td>
                        <td>
                            <img src="{% static 'images/attendance.png' %}" class="mx-auto my-3" alt="...">
                            <h5 class="body text-black fst-italic">APPOINTMENTS</h5>
                            <h5 class="body text-black fst-italic">{{ p }}</h5>
                            <a href="{% url 'PatientAppoinmentRecord' %}" class="btn btn-outline-success fst-italic fw-bold px-3">VIEW <svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="18" fill="currentColor"
                                    class="bi bi-caret-right-fill mx-1" viewBox="0 0 16 16">
                                    <path
                                        d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
                                </svg></a>
                        </td>
                    </tr>

                    <tr>
                        <td>NAME:</td>
                        <td>{{ usr.user_member.first_name }} {{ usr.user_member.last_name }}</td>
                    </tr>

                    <tr>
                        <td>AGE:</td>
                        <td>{{ usr.age }}</td>
                    </tr>

                    <tr>
                        <td>EMAIL ID:</td>
                        <td>{{ usr.user_member.email }}</td>
                    </tr>

                    <tr>
                        <td>PHONE:</td>
                        <td>{{ usr.number }}</td>
                    </tr>

                    <tr>
                        <td colspan="2"><a class="btn btn-outline-success" href="{% url 'edit_patient_profile' %}">EDIT</a></td>
                    </tr>

                </table>

            </div>

        </div>

    </div>

</div>

{% endblock %}
