{% extends "doctor/DoctorNav.html" %}
{% block content %}
{% load static %}


<!-- TABLE -->
<form action="{% url 'reset_password' %}" method='post' enctype="multipart/form-data">
    {% csrf_token %}
    <br><br>


    <div class="container mb-3 mt-5">

        <div class="row">
            <div class="col-1 col-md-4"></div>

            <div class="col-10 col-md-6">
                <h1 class="text-center body">RESET PASSWORD</h1>

                <br><br>

                <label for="task_name">Current Password:</label>
                <input class="form-control" type="password" placeholder="Current Password" name="current" required><br>

                <label for="start_date">New Password</label>
                <input class="form-control" type="password" name="passwd" placeholder="New Password" required><br>

                <label for="end_date">Confirm Password:</label>
                <input class="form-control" type="password" name="cpasswd" placeholder="Confirm Password" required><br>

                <center>
                    <button class="btn btn-outline-danger mt-4 my-3" type="submit">RESET PASSWORD</button>
                </center>


            </div>

            <div class="col-1 col-md-3"></div>

        </div>

    </div>

</form>

<br>





{% endblock %}