{% extends 'admin/AdminNav.html' %}
{% block content %}
{% load static %}

<br><br>
<!-- TABLE -->

<div class="container mb-3 mt-5">

    <div class="row">
        <div class="col-1 col-md-3"></div>

        <div class="col-10 col-md-9">

            <br>
            <h1 class="text-center body">MANAGE DEPARTMENTS</h1>
            <br>

            <div class="table-resposive mb-4 mx-3 rounded-2 bg-white"
                style=" min-height: 500px; max-height: 500px; overflow-y: auto;">

                <table class="table  table-striped table-hover table-bordered text-center">


                    <tr>

                        <th class="fst-italic text-center bg-white text-black fs-5">DEPARTMENT NAME</th>
                        <th class="fst-italic text-center bg-white text-black fs-5">DOCTORS</th>
                        <th class="fst-italic text-center bg-white text-black fs-5">ACTION</th>

                    </tr>

                    {% for department in dept %}
                    <tr>
                        <td>{{ department.department_name }}</td>
                        <td>
                            {% for doctor in doct %}
                            {% if doctor.user_department_id == department.id %}
                            {{ doctor.user_member.first_name }} {{ doctor.user_member.last_name }}<br>
                            {% endif %}
                            {% endfor %}
                        </td>
                        <td class="text-center">
                            <a class="btn btn-outline-success px-4 my-2" href="{% url 'edit_department' department.id %}">EDIT</a><br>
                            <!-- Add your delete button and modal here -->
                        </td>
                    </tr>
                    {% endfor %}

                    <!-- <label for="">{% for i in messages %}{{i}}{% endfor %}</label> -->

                </table>



            </div>


        </div>

        <div class="col-1 col-md-3"></div>

    </div>

</div>



<br>




{% endblock %}